body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 100%;
}
#heroWrapper {
    background-color: #E3F2FD;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#heroIMG {
	display: flex;
    flex-direction: column;
	height: 90vh;
	justify-content: center;
    align-items: center;
    flex: 1;
}
#heroWords {
    padding-bottom: 90px;
    font-family: 'Raleway', sans-serif;
    color: #3e3e3e;
    text-align: center;
    font-size: 200%;
}
#searchBar {
	height: 35px;
	width: 400px;
    font-size: 135%;
	margin: auto auto auto auto;
}
/* SEARCH BAR PALCE HOLDER */
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #c3c3c3;
    font-family: 'Raleway', sans-serif;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #c3c3c3;
    font-family: 'Raleway', sans-serif;
    opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #c3c3c3;
    font-family: 'Raleway', sans-serif;
    opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #c3c3c3;
}

#bodyWrapper {
    width: 80%;
    margin: auto auto auto auto;
    height: 200px;
    padding-top: 24%;
}
        #bodyWrapper h2 {
            text-align: center;
            font-family: 'Open Sans', sans-serif;
            font-size: 140%;
            margin-bottom: 14px;
        }
        #bodyWrapper p {
            text-align: center;
            color: #4b4b4b;
            font-family: 'Raleway', sans-serif;
            line-height: 120%;
            font-size: 120%;  
            margin: auto auto auto auto;
        }