<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>How's It Trending</title><!-- RESET CSS -->
    <link href="../static/reset.css" rel="stylesheet"><!-- GENERAL STYLES -->
    <link href="../static/styles.css" rel="stylesheet"><!-- PAGE SPECIFIC STYLES -->
    <link href="../static/index_styles.css" rel="stylesheet"><!-- FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300|Raleway:300" rel="stylesheet"><!--    -->
</head>
<body>
    <div id="heroWrapper">
        <!-- NAVIGATION BAR -->
        <nav>
            <h1 class="dataBoxHeader">How's It Trending</h1>
            <div id="navList" style="margin-left: 2em">
                <a href="#">
                <ul>
                    <li>Features</li>
                    <li style="list-style: none; display: inline"></li>
                    <li>Filler</li>
                </ul></a>
            </div>
        </nav><!--
    END
    OF
    NAVIGATION
    -->
        <div id="heroIMG">
            <div id="heroWords">
                Search any word or phrase!
            </div>
            <form action="http://127.0.0.1:5000/results" method="post">
                <input id="searchBar" name="search_query" placeholder="Lookup any word or hashtag" type="text"> <!--
    <input
    type="submit"
    value="submit">
    -->
            </form>
        </div>
    </div><!--
    PRODUCT
    DESCRIPTION
    -->
    <div id="bodyWrapper">
        <p>How's It Trending is a small web application that gathers the last tweets made given contianing a specific word or phrase! It is then processed through a python application utilizing Twitter's REST API. (Make it a link)</p>
    </div><!--
    END
    OF
    PRODUCT
    DESCRIPTION
    -->
    <!-- FOOTER -->
    <footer></footer>
    <!-- END OF FOOTER -->
</body>
</html>
